.minimal-linkcard {
    margin: 1rem 0;
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    background: var(--body-background);
}

.minimal-linkcard a {
    display: flex;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    color: inherit;
    gap: 12px;
}


.card-icon {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}


.card-text {
    flex: 1;
    min-width: 0;
}

.card-title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-desc {
    font-size: 1rem;
    color: var(--body-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}